/* VARIABLES */
$color-principal-bordo:#750f0f;
$color-principal-blanco:#ffffff;
$color-principal-azulOscuro:#150941;
$color-secundario-grisClaro:#e9e9e9;
$color-secundario-grisOscuro:#3b3939;
$fuente-principal:'Raleway', sans-serif;
$font-size-h1: 5rem;
$font-size-h2: 3rem;
$font-size-h3: 2rem;
$font-size-p: 1rem;

/* RESETEADORES */
 * {
    margin: 0;
    padding: 0;
  }

/* CLASES-HEADER */
.header__botones--bgcolor {background-color: $color-principal-azulOscuro;}
.header__nav--bgcolor {background-color: $color-principal-bordo;}

/* CLASES-TÍTULOS */
.casoDeExitoo__main--bgcolor {background-color: $color-principal-blanco;}
.casoDeExitoo__h1--color {color: $color-principal-azulOscuro;}
.casoDeExitoo__h2--color {color: $color-principal-bordo;}
.casoDeExitoo__h3--color {color: $color-principal-azulOscuro;}

/* CLASES-CASO-DE-EXITO */
.casoDeExitoo__article--bgcolor {background-color: $color-principal-blanco;}
.casoDeExitoo__aside--bgcolor {background-color: $color-principal-blanco;}
.casoDeExitoo__articleH2--color {color: $color-principal-bordo;}
.casoDeExitoo__articleP--color {color: $color-principal-azulOscuro;}

/* CLASES-RAZONES */
.about__articleImage--bgcolor {background-color: $color-secundario-grisOscuro;}
.about__article--bgcolor {background-color: $color-secundario-grisClaro;}
.razones__articleH2--color {color: $color-principal-bordo;}
.razones__articleP--color {color: $color-principal-azulOscuro;}

/* CLASES-CLIENTES */
.clientes__main--bgcolor {background-color: $color-principal-blanco;}
.clientes__main--color {color: $color-principal-azulOscuro;}
.clientes__article--bgcolor {background-color: $color-principal-blanco;}
.clientes__articleH2--color {color: $color-principal-bordo;}
.clientes__articleP--color {color: $color-principal-azulOscuro;}

/* CLASES-FOOTER */
.footer__div--bgcolor {background-color: $color-principal-bordo;}
.footer__h3--color {color: $color-principal-blanco;}


  /* FONTS */
  /* FontColors */
  .fontColorRed {color: $color-principal-bordo;}
  .fontColorWhite {color:$color-principal-blanco;}
  .fontColorBlue {color:$color-principal-azulOscuro;}
  
  /* FontFamily */
  .fontFamily {font-family: $fuente-principal;}

  /* FontSize */
  .fontSizeH1 {font-size: $font-size-h1;}
  .fontSizeH2 {font-size: $font-size-h2;}
  .fontSizeH3 {font-size: $font-size-h3;}
  .fontSizeP {font-size: $font-size-p;}

  .joinUs__Title--bgcolor {background-color: $color-principal-azulOscuro;}




  
  /* FontBold */
  .fontBold {font-weight: bold;}
  
  /* Align */
  .textAlignCenter {text-align: center;}
  
  /* BUTTON */

  .colorTextButton  {color:$color-principal-blanco;}
  .textDecorationButton {  text-decoration: none;}
  .fontSizeButton{  font-size: 1rem;}
  .borderButton {  border-radius: 6px;}
  .paddingButton {  padding: 2px;}
  .marginButton {  margin: 20px;}
  .borderButtonColor { border-color: #150941;}
  
  
  /* TAMAÑO CARROUSEL */
  .imageSize {width:150px; height:150px}
  
  /* TAMAÑO SECTIONS */
  .heightSections {height: 200px;}
  .paddingSections {padding-top: 10px; padding-bottom: 10px;}
  
  /* ORDENAR */
  
  .botonInstagram
  {width:50px;
  height:50px;
  transition:all 1s}
  
  .botonInstagram:hover
  {width:70px;
  height:70px}
  
  .botonLinkedin
  {width:50px;
  height:50px;
  transition:all 1s}
  
  .botonLinkedin:hover
  {width:70px;
  height:70px}
  
  
  /* .backgroundImageHome {background-image: url("../images/pc.png")} */
  

  
  .paddingTitles
  
  /* TAMAÑO SECTIONS */
  .heightTitles {height: 100px;}
  .paddingTitles {padding-top: 10px; padding-bottom: 10px;}

