
/* POR SECCIÓN */

  /* CLASES-TÍTULOS */
  .about__article--bgcolor {background-color: $color-secundario-grisClaro;}
  /* CLASES-JOINUS */
  .joinUs__Question--bgcolor {background-color: $color-principal-azulOscuro;}
  .joinUs__MeetUs--bgcolor {background-color: $color-principal-bordo;}
  