/* VARIABLES */
$color-principal-bordo:#750f0f;
$color-principal-blanco:#ffffff;
$color-principal-azulOscuro:#150941;
$fuente-principal:'Raleway', sans-serif;

/* RESETEADORES */
 * {
    margin: 0;
    padding: 0;
  }

/* CLASES-HEADER */
.header__botones--bgcolor {background-color: $color-principal-azulOscuro;}
.header__nav--bgcolor {background-color: $color-principal-bordo;}

/* CLASES-FOOTER */
.footer__div--bgcolor {background-color: $color-principal-bordo;}
.footer__h3--color {color: $color-principal-blanco;}

/* FONTS */
/* FontColors */
.fontColorRed {color: $color-principal-bordo;}
.fontColorWhite {color:$color-principal-blanco;}
.fontColorBlue {color:$color-principal-azulOscuro;}

/* FontFamily */
.fontFamily {font-family: $fuente-principal;}
  
/* FontBold */
.fontBold {font-weight: bold;}
    
/* Align */
.textAlignCenter {text-align: center;}

/* Align */
.fontSizeTitles {font-size: 4rem;}
.fontSizeSubTitles {font-size: 2.5rem;}
.fontSizeSubSubTitles {font-size: 2rem;}
.fontSizeP {font-size: 1.5rem;}

    
/* BUTTON */
.colorTextButton  {color:$color-principal-blanco;}
.textDecorationButton {  text-decoration: none;}
.fontSizeButton{  font-size: 1rem;}
.borderButton {  border-radius: 6px;}
.paddingButton {  padding: 2px;}
.marginButton {  margin: 20px;}  
        
  
/* FOOTER */
.botonInstagram
{width:50px;
height:50px;
transition:all 1s}

.botonInstagram:hover
{width:70px;
height:70px}

.botonLinkedin
{width:50px;
height:50px;
transition:all 1s}

.botonLinkedin:hover
{width:70px;
height:70px}


.imageResize
{transform: scale(0.5,0.5)}

.alignVertically
{vertical-align: middle;}

.imageFooter
{height: 400px;
width: fit-content;}