/* POR SECCIÓN */
/* CLASES-TÍTULOS */
.casoDeExitoo__main--bgcolor {background-color: $color-principal-blanco;}
.casoDeExitoo__h1--color {color: $color-principal-azulOscuro;}
.casoDeExitoo__h2--color {color: $color-principal-bordo;}
.casoDeExitoo__h3--color {color: $color-principal-azulOscuro;}

/* CLASES-CASO-DE-EXITO */
.casoDeExitoo__article--bgcolor {background-color: $color-principal-blanco;}
.casoDeExitoo__aside--bgcolor {background-color: $color-principal-blanco;}
.casoDeExitoo__articleH2--color {color: $color-principal-bordo;}
.casoDeExitoo__articleP--color {color: $color-principal-azulOscuro;}

/* CLASES-RAZONES */
.razones__main--bgcolor {background-color: $color-secundario-grisClaro;}
.razones__article--bgcolor {background-color: $color-secundario-grisClaro;}
.razones__articleH2--color {color: $color-principal-bordo;}
.razones__articleP--color {color: $color-principal-azulOscuro;}

/* CLASES-CLIENTES */
.clientes__main--bgcolor {background-color: $color-principal-blanco;}
.clientes__main--color {color: $color-principal-azulOscuro;}
.clientes__article--bgcolor {background-color: $color-principal-blanco;}
.clientes__articleH2--color {color: $color-principal-bordo;}
.clientes__articleP--color {color: $color-principal-azulOscuro;}

/* TAMAÑO CARROUSEL-NO ESTÁ EN HOME */
/*NO ESTÁ EN HOME */
.imageSize {height:280px}
  
/* TAMAÑO SECTIONS-NO ESTÁ EN HOME */
/* NO ESTÁ EN HOME */
.heightSections {height: 350px;}
/* ESTÁ EN HOME */
.paddingSections {padding-top: 10px; padding-bottom: 10px;}
    
/* TAMAÑO TITLES */
/* NO ESTÁ EN HOME */
.heightTitles {height: 100px;}
/* ESTÁ EN HOME */
.paddingTitles {padding-top: 10px; padding-bottom: 10px;}

/* MEDIA-QUERY VIDEO */ 
@media (max-width: 405px) {
.videoSize {transform: scale(0.8,0.8)	;} }
@media (max-width: 305px) {
.videoSize {transform: scale(0.7,0.7);}
.mobileResizeH1  {font-size: $font-size-h1*0.75;}
.mobileResizeH2  {font-size: $font-size-h2*0.75;}
.mobileResizeH3  {font-size: $font-size-h3*0.75;}}
     